name: Node.js Package

on:
  push:
    branches:
      - main

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # ضروري جداً للنشر

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20 # يفضل استخدام نسخة LTS مستقرة حالياً
          registry-url: "https://npm.pkg.github.com"
          cache: "pnpm"
          scope: "@faroukarar" # أضف الـ Scope الخاص بك هنا

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish to GitHub Packages
        run: pnpm -r publish --no-git-checks --access public
        env:
          # نستخدم NODE_AUTH_TOKEN لأن setup-node مهيأ لاستخدامه
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
