name: Node.js Package

on:
  push:
    branches:
      - main

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com/
          cache: "pnpm"

      - run: pnpm install

      - run: |
          for dir in packages/*; do
            if [ -f "$dir/package.json" ]; then
              echo "Publishing package in $dir"
              cd $dir
              pnpm publish --no-git-checks --registry=https://npm.pkg.github.com/
              cd -
            fi
          done
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
